In [ ]:
## This file pulls the last month of closing prices of a stock, calculates the daily returns, and exports the daily
## returns to a DataFrame. This DataFrame will be used as the target values for the machine learning model.

## NOTE: to run this file, you must execute an IEX Finance API key.

In [1]:
# importing libraries
import pandas as pd
from datetime import datetime, timedelta
from iexfinance.stocks import get_historical_data

In [2]:
# Set the ticker
# TODO - this is hard-coded for now, but will need to accept an output from the selector
ticker = "AAPL"

# setting start and end date for the past four weeks
# 29 days needed instead of 28 days so that we get 28 days of return when we calculate
end_date = datetime.now()
start_date = end_date + timedelta(-31)

# getting data from the API and adding to DataFrame
df = get_historical_data(ticker, start_date, end_date,  output_format='pandas')
df.drop(columns=['open','high','low','volume'],inplace=True)
df.head()

             close
date
2020-03-11  275.43
2020-03-12  248.23
2020-03-13  277.97
2020-03-16  242.21
2020-03-17  252.86

In [3]:
# checking need to clean data
df.isnull().sum()

close    0
dtype: int64

In [4]:
# calculating daily returns
returns = df.pct_change() * 100
returns.head(30)

                close
date
2020-03-11        NaN
2020-03-12  -9.875467
2020-03-13  11.980824
2020-03-16 -12.864698
2020-03-17   4.397011
2020-03-18  -2.447995
2020-03-19  -0.766206
2020-03-20  -6.348558
2020-03-23  -2.124411
2020-03-24  10.032536
2020-03-25  -0.550875
2020-03-26   5.262300
2020-03-27  -4.140226
2020-03-30   2.853798
2020-03-31  -0.204074
2020-04-01  -5.261709
2020-04-02   1.668673
2020-04-03  -1.437145
2020-04-06   8.723748
2020-04-07  -1.158228
2020-04-08   2.559457
2020-04-09   0.721615

In [ ]:
# checking need to clean data
returns.isnull().sum()

In [ ]:
# cleaning returns data
returns.dropna(inplace=True)
returns.isnull().sum()

In [ ]:
# exporting data to CSV
returns.to_csv('sample_returns_data.csv')